[submodule "pdmorl/external/PDMORL-Preference-Driven-Multi-Objective-Reinforcement-Learning-Algorithm"]
	path = pdmorl/external/PDMORL-Preference-Driven-Multi-Objective-Reinforcement-Learning-Algorithm
	url = https://github.com/tbasaklar/PDMORL-Preference-Driven-Multi-Objective-Reinforcement-Learning-Algorithm
[submodule "pmoco/PMOCO"]
	path = pmoco/PMOCO
	url = https://github.com/Xi-L/PMOCO.git
[submodule "pmoco/external/PMOCO"]
	path = pmoco/external/PMOCO
	url = https://github.com/Xi-L/PMOCO
